<style>
  #header {
    background-image: url("{{cdnPrefix}}images/header-1.jpeg");
  }

  body {
    background: url('{{cdnPrefix}}images/body-1.jpeg');
    background-size: cover;
    background-attachment: fixed;
  }

  .project-list-border {
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 2px solid #b4c2c0;
  }
</style>

<!-- Header -->
<div id="header">
  <!-- Inner -->
  <div class="inner">
    <header>
      <h1><a href="index.html" id="logo">Tao's Homepage</a></h1>
      <hr/>
      <p>Web developer working on both frond-end and back-end</p>
    </header>
    <footer>
      <img class="button circled" src="{{cdnPrefix}}images/tao.png">
    </footer>
  </div>
  {{> navbar}}
</div>

<!-- Banner -->
<section id="banner">
  <header>
    <h2>Who is Tao?</h2>
    <p>
      I'm a software engineer working at <a href="https://www.priceline.com/">Priceline.com</a>. As a test
      automation engineer, I got a good opportunity to write code on both front-end and back-end. I'm also a husband and a
      new father. </p>
    <p>
      On my spare time, I am contributing code to a start-up company <a href="https://www.bittiger.io/">BitTiger</a>
      using Meteor. I also manage a Drupal website for a meditation center voluntarily. I like running, meditation and
      intellectual games(joined <a href="http://www.us.mensa.org/">Mensa</a> recently).
    </p>

    <p>
      The following is a list of my projects, most of them are hosted on github with detail information with demos videos
      on Youtube.
    </p>
  </header>
</section>

<!-- Carousel -->
<section class="carousel">
  <div class="reel">

    <article>
      <a href="https://youtu.be/zUDeTAQiulQ" target="_blank" class="image featured"><img
              src="{{cdnPrefix}}images/project-list-lucky.jpg" alt=""/></a>
      <header>
        <h3>I Feel Lucky</h3>
      </header>
      <p>Demo <a target="_blank" href="https://youtu.be/zUDeTAQiulQ">Video</a> and <a
              href="https://github.com/taoning2014/i-feel-lucky-desktop-ui"> Repo</a></p>
      <p>Front-end code for a hackathon</p>
    </article>

    <article>
      <a href="https://youtu.be/bwRw7v6J7XM" target="_blank" class="image featured"><img
              src="{{cdnPrefix}}images/project-list-daniel.jpg" alt=""/></a>
      <header>
        <h3>When To Feed Daniel</h3>
      </header>
      <p>Demo <a target="_blank" href="https://youtu.be/bwRw7v6J7XM">Video</a> and <a
              href="https://github.com/taoning2014/when-to-feed-my-baby"> Repo</a></p>
      <p>Full-stack mobile app</p>
    </article>

    <article>
      <a href="https://www.youtube.com/watch?v=5u68f1sc6SU" target="_blank" class="image featured"><img
              src="{{cdnPrefix}}images/project-list-bittiger.jpg" alt=""/></a>
      <header>
        <h3>Group module</h3>
      </header>
      <p>Demo <a target="_blank" href="https://www.youtube.com/watch?v=5u68f1sc6SU">Video</a></p>
      <p>New feature for bittiger.io</p>
    </article>

    <article>
      <a href="https://web.njit.edu/~tn48/OEM_NEWARK/" target="_blank" class="image featured"><img
              src="{{cdnPrefix}}images/project-list-newark.jpg" alt=""/></a>
      <header>
        <h3>OEM Website</h3>
      </header>
      <p>Demo <a target="_blank" href="https://web.njit.edu/~tn48/OEM_NEWARK/">Website</a></p>
      <p>Static website for City of Newark</p>
    </article>

    <article>
      <a href="#" class="image featured"><img src="{{cdnPrefix}}images/project-list-taoningjs.jpg" alt=""/></a>
      <header>
        <h3>My Own Website</h3>
      </header>
      <p><a target="_blank" href="https://github.com/taoning2014/taoningjs">Github Repo</a></p>
      <p>Website for display my works</p>
    </article>

  </div>
</section>

<!-- Main -->
<div class="wrapper style2">

  <article id="main" class="container special">
    <header>
      <h2>So, what's next?</h2>
    </header>
    <p>
      In the past, I worked as a sales zone manager in Ford China for three years, we
      provide customer with best quality cars. After I got my Master's degree in IT, I joined Priceline.com as a software
      engineer for one and half years, we use technology to make traveling easier and more affordable that
      less wealthy people can also get a chance to see the world.
    </p>
    <p>
      As my knowledge and experience grows, now, I see more fascinating problems waiting to be solved, so I'm seeking
      a new place where I can cooperate with talent people and using our skill to solve them and make the world a better place to live.
    </p>
    <footer>
      <a href="/resume.pdf" class="button" download>Download Resume</a>
    </footer>
  </article>

</div>

<!-- Features -->
<div class="wrapper style1">

  <section id="features" class="container special">
    <header>
      <h2>Other works</h2>
      <p style="text-align: center">The following 3 website are projects from my Graduate</p>
    </header>
    <div class="row">
      <article class="4u 12u(mobile) special">
        <a href="#" class="image featured"><img class="project-list-border" src="{{cdnPrefix}}images/project-list-d3.jpg" alt=""/></a>
        <header>
          <h3><a href="https://web.njit.edu/~tn48/Capstone/vidyo.html">Data visulization with D3.js</a></h3>
        </header>
        <p>
          A easy way to find useful information about companies using D3.js. The graph is built by relationship between company
          and VC.
        </p>
      </article>
      <article class="4u 12u(mobile) special">
        <a href="http://ddmbanj.org/" class="image featured"><img class="project-list-border" src="{{cdnPrefix}}images/project-list-ddmba.jpg" alt=""/></a>
        <header>
          <h3><a href="#">Drupal Website</a></h3>
        </header>
        <p>
          As a member in IT group of DDMBA NJ Chapter, I'm responsible for maintain this Drupal website with 50+ daily
          visitors.
        </p>
      </article>
      <article class="4u 12u(mobile) special">
        <a href="#" class="image featured"><img class="project-list-border" src="{{cdnPrefix}}images/project-list-advanced-java.jpg" alt=""/></a>
        <header>
          <h3><a href="#">Website for Java Applet</a></h3>
        </header>
        <p>This website is built for one of my course: Advanced Java in order to show solutions of homework to the
          professor. Course contents includes: Abstraction and Refactoring, Database Access, Threads and Animation,
          Distributed Computing and Java Security.
        </p>
      </article>
    </div>
  </section>

</div>

{{> footer}}
