<style>
  #header {
    background-image: url("{{cdnPrefix}}images/header-1.jpeg");
  }

  body {
    background: url('{{cdnPrefix}}images/body-1.jpeg');
    background-size: cover;
    background-attachment: fixed;
  }

  .project-list-border {
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 1px solid #b4c2c0;
  }
</style>

<!-- Header -->
<div id="header">
  <!-- Inner -->
  <div class="inner">
    <header>
      <h1><a href="index.html" id="logo">Tao's Homepage</a></h1>
      <hr/>
      <p>Web developer working on both frond-end and back-end</p>
    </header>
    <footer>
      <img class="button circled" src="{{cdnPrefix}}images/tao.png">
    </footer>
  </div>
  {{> navbar}}
</div>

<!-- Banner -->
<section id="banner">
  <header>
    <h2>Who is Tao?</h2>
    <p>
      I'm an software engineer working at <a href="https://www.priceline.com/">Priceline.com</a>. Working on test
      automation gives me good opportunity to work on full-stack. I'm also a husband, and father. </p>
    <p>
      On my spare time I am contributing code to a start-up company <a href="https://www.bittiger.io/">BitTiger</a>. I
      also like running, meditation and intellectual games (joined <a href="http://www.us.mensa.org/">Mensa</a>
      recently).
    </p>

    <p>
      The following is a list of project I did, most of them host on github with detail information. I also record demos
      on Youtube.
    </p>
  </header>
</section>

<!-- Carousel -->
<section class="carousel">
  <div class="reel">

    <article>
      <a href="https://youtu.be/zUDeTAQiulQ" target="_blank" class="image featured"><img
              src="{{cdnPrefix}}images/project-list-lucky.jpg" alt=""/></a>
      <header>
        <h3>I Feel Lucky</h3>
      </header>
      <p>Demo <a target="_blank" href="https://youtu.be/zUDeTAQiulQ">Video</a> and <a
              href="https://github.com/taoning2014/i-feel-lucky-desktop-ui"> Repo</a></p>
      <p>Front-end code for a hackathon</p>
    </article>

    <article>
      <a href="https://youtu.be/bwRw7v6J7XM" target="_blank" class="image featured"><img
              src="{{cdnPrefix}}images/project-list-daniel.jpg" alt=""/></a>
      <header>
        <h3>When To Feed Daniel</h3>
      </header>
      <p>Demo <a target="_blank" href="https://youtu.be/bwRw7v6J7XM">Video</a> and <a
              href="https://github.com/taoning2014/when-to-feed-my-baby"> Repo</a></p>
      <p>Full-stack mobile app</p>
    </article>

    <article>
      <a href="https://www.youtube.com/watch?v=5u68f1sc6SU" target="_blank" class="image featured"><img
              src="{{cdnPrefix}}images/project-list-bittiger.jpg" alt=""/></a>
      <header>
        <h3>Group module</h3>
      </header>
      <p>Demo <a target="_blank" href="https://www.youtube.com/watch?v=5u68f1sc6SU">Video</a></p>
      <p>New feature for bittiger.io</p>
    </article>

    <article>
      <a href="https://web.njit.edu/~tn48/OEM_NEWARK/" target="_blank" class="image featured"><img
              src="{{cdnPrefix}}images/project-list-newark.jpg" alt=""/></a>
      <header>
        <h3>OEM Website</h3>
      </header>
      <p>Demo <a target="_blank" href="https://web.njit.edu/~tn48/OEM_NEWARK/">Website</a></p>
      <p>Static website for City of Newark</p>
    </article>

    <article>
      <a href="#" class="image featured"><img src="{{cdnPrefix}}images/project-list-taoningjs.jpg" alt=""/></a>
      <header>
        <h3>My Own Website</h3>
      </header>
      <p><a target="_blank" href="https://github.com/taoning2014/taoningjs">Github Repo</a></p>
      <p>Website for display my works</p>
    </article>

  </div>
</section>

<!-- Main -->
<div class="wrapper style2">

  <article id="main" class="container special">
    <a href="#" class="image featured"><img src="{{cdnPrefix}}images/pic06.jpg" alt=""/></a>
    <header>
      <h2><a href="#">Sed massa imperdiet magnis</a></h2>
      <p>
        Sociis aenean eu aenean mollis mollis facilisis primis ornare penatibus aenean. Cursus ac enim
        pulvinar curabitur morbi convallis. Lectus malesuada sed fermentum dolore amet.
      </p>
    </header>
    <p>
      Commodo id natoque malesuada sollicitudin elit suscipit. Curae suspendisse mauris posuere accumsan massa
      posuere lacus convallis tellus interdum. Amet nullam fringilla nibh nulla convallis ut venenatis purus
      sit arcu sociis. Nunc fermentum adipiscing tempor cursus nascetur adipiscing adipiscing. Primis aliquam
      mus lacinia lobortis phasellus suscipit. Fermentum lobortis non tristique ante proin sociis accumsan
      lobortis. Auctor etiam porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum
      consequat integer interdum integer purus sapien. Nibh eleifend nulla nascetur pharetra commodo mi augue
      interdum tellus. Ornare cursus augue feugiat sodales velit lorem. Semper elementum ullamcorper lacinia
      natoque aenean scelerisque.
    </p>
    <footer>
      <a href="#" class="button">Continue Reading</a>
    </footer>
  </article>

</div>

<!-- Features -->
<div class="wrapper style1">

  <section id="features" class="container special">
    <header>
      <h2>Other works</h2>
      <p style="text-align: center">The following 3 website is the projects from my Graduate</p>
    </header>
    <div class="row">
      <article class="4u 12u(mobile) special">
        <a href="#" class="image featured"><img class="project-list-border" src="{{cdnPrefix}}images/project-list-d3.jpg" alt=""/></a>
        <header>
          <h3><a href="https://web.njit.edu/~tn48/Capstone/vidyo.html">Data visulization with D3.js</a></h3>
        </header>
        <p>
          A easy way to find useful information about companies using D3.js. Graph built by relationship between company
          and VC.
        </p>
      </article>
      <article class="4u 12u(mobile) special">
        <a href="http://ddmbanj.org/" class="image featured"><img class="project-list-border" src="{{cdnPrefix}}images/project-list-ddmba.jpg" alt=""/></a>
        <header>
          <h3><a href="#">Drupal Website</a></h3>
        </header>
        <p>
          As a member in IT group of DDMBA NJ Chapter, I'm responsible for maintain this Drupal website with 50+ daily
          visitors.
        </p>
      </article>
      <article class="4u 12u(mobile) special">
        <a href="#" class="image featured"><img class="project-list-border" src="{{cdnPrefix}}images/project-list-advanced-java.jpg" alt=""/></a>
        <header>
          <h3><a href="#">Website for Java Applet</a></h3>
        </header>
        <p>This website is built for one of my course: Advanced Java in order to show solutions of homework and exam
          to professor. Course contents includes: Abstraction and Refactoring, Database Access, Threads and Animation,
          Distributed Computing and Java Security.
        </p>
      </article>
    </div>
  </section>

</div>

{{> footer}}
